body{
    margin:0;
    font-family:Arial, sans-serif;
    text-align:center;
    background:#eaf6ff;
    color:#2b3d4f;
}

.page{
    display:none;
    padding:30px;
}

.active{
    display:block;
}

.sprite{
    width:180px;
    image-rendering:pixelated;
}

.card{
    background:white;
    padding:20px;
    border-radius:20px;
    width:80%;
    max-width:500px;
    margin:20px auto;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

button{
    background:#87cefa;
    color:black;
    border:none;
    padding:15px 20px;
    margin:10px;
    border-radius:15px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    transform:scale(1.05);
}

.healthbar{
    width:300px;
    height:30px;
    background:white;
    margin:20px auto;
    border-radius:20px;
    overflow:hidden;
}

#fill{
    height:100%;
    width:13%;
    background:#4caf50;
    transition:0.5s;
}

#message{
    font-size:20px;
    font-weight:bold;
}

.floating-heart{
    position:fixed;
    bottom:100px;
    font-size:30px;
    pointer-events:none;
    animation:floatUp 2s linear forwards;
}

@keyframes floatUp{

    0%{
        transform:translateY(0);
        opacity:1;
    }

    100%{
        transform:translateY(-250px);
        opacity:0;
    }
}

.shake{

    animation:shake 0.6s;
}

@keyframes shake{

    0% {transform:translate(5px,5px);}
    25% {transform:translate(-5px,0);}
    50% {transform:translate(5px,-5px);}
    75% {transform:translate(-5px,5px);}
    100% {transform:translate(0,0);}
}